:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  /* size */
  --size-button: 60px;
  --base-space: 8px;
  --font-size: 18px;
  --size-border: 4px;
  --size-thumbnail: 50px;

  /* animation */
  --animation-duration: 300ms; /*애니메이션이 한 사이클을 완료하는데 걸리는 시간*/
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease; /*더 생동감 있게*/
}
.buttons {
  display: flex;
  align-items: center;
  margin-right: var(--font-size);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}
.btn.imgBtn,
.logo:hover {
  transform: scale(1.1); /*커서 이동시 커짐*/
}
.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}
.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}
.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}
.items {
  background-color: var(--color-black);
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll; /* 아이템 안에서만 스크롤 */
}
.item {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}
.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}
.item__description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
